<div class="container mt-4">

<h5>いいね一覧</h5>

  <div class="row mx-auto">

    <div class="col-10">
      <table>
        <% if @favorites.exists? %>
          <% @favorites.each do |favorite| %>
            <td>
              <%= link_to bread_path(favorite.bread.id) do %>
                <%= image_tag favorite.bread.get_bread_image(200, 200) %>
              <% end %>
              <%= favorite.bread.bread_name %>
            </td>
          <% end %>
        <% else %>
          <p>いいねした投稿はありません</p>
        <% end %>
      </table>
    </div>

  </div>
</div>