<div class="container mt-4">

  <h5>いいね一覧</h5>

  <div class="mt-3 row">
    <div>
      <ul class="row" style="list-style: none;">
        <% if @favorites.exists? %>
          <% @favorites.each do |favorite| %>
            <li class="mr-1">
              <%= link_to bread_path(favorite.bread.id) do %>
                <%= image_tag favorite.bread.get_bread_image(200, 200) %><br>
              <% end %>
              <%= favorite.bread.bread_name %>
            </li>
          <% end %>
        <% else %>
          <p>いいねした投稿はありません</p>
          <p><%= link_to "投稿を見に行く", root_path, class:"ml-3 btn btn-sm btn-outline-secondary" %></p>
        <% end %>
      </ul>
    </div>
  </div>

</div>