<div class="container mt-4">
  <div class="row mx-auto">

  <h4>いいね一覧</h4>
  <table>
    <% if @favorites.exists? %>
      <td>
        <% @favorites.each do |favorite| %>
          <%= link_to bread_path(favorite.bread.id) do %>
            <%= image_tag favorite.bread.get_bread_image(100, 100) %>
          <% end %>
          <%= favorite.bread.bread_name %>
        <% end %>

    <% else %>
      <p>いいねした投稿はありません</p>
    <% end %>
  </table>

  </div>
</div>