<div class="container py-5 text-center" style="background-color: #fff7e6">
  <div class="col-md-12">
    <h5>ご意見ありがとうございました！</h5>

    <p class="mt-4">
      頂いたご意見はサイト運営の参考にさせていただきます。
    </p>

    <%= link_to "トップに戻る", root_path, class:"mt-2 btn btn-sm btn-outline-secondary" %>


    </div>
  </div>