<div class="container py-5" style="background-color: #fff7e6">
  <div class="col-md-10 mx-auto">
    <h5>ショップ一覧</h5>

    <% @shops.each do |shop| %>
      <div class="row my-3 p-3" style="background-color: white;">
        <div class="col-md-1" style="color: black;">
          <%= link_to shop_path(shop.id) do %>
          <h2 style="color: gray;"><i class="fa-solid fa-store"></i></h2>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to shop_path(shop.id) do %>
            <h5 class="text-dark"><%= shop.shop_name %><h5>
            <p class="text-dark"><small><%= shop.breads.count %>posts</small></p>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>