<div class="container mt-4 mx-auto">
  <div class="col-md-12s mx-auto">

    <h5>オンラインショップ一覧</h5>

    <table class="table">
      <tr>
        <td>店名</td>
        <td>オンラインショップ</td>
      </tr>

      <% @onlines.each do |online| %>
        <tr>
          <td><%= online.shop.shop_name %></td>
          <td><%= online.shop.online_url %></td>
          <td><%= link_to "詳細", shop_path(online.id), class:"btn btn-sm btn-secondary" %></td>
        </tr>
      <% end %>
    </table>
    
  </div>
</div>