// @import '~bootstrap/scss/bootstrap';
@use '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "select2/dist/css/select2.min.css";
@import "./user/homes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ページネーション自体
.pagination > li > a {
  border: none;
  color: #696969;
}

// 表示しているページ番号
.pagination>.active>a {
  background: none;
}

// ホバー時
.pagination>li>a:hover {
  opacity: 1;
  color: #696969;
}

.page-item.active .page-link {
  background-color: #ffeecc;
  color: #696969;
  border: 1px solid #fff;
}


.scroll-list {
  padding: 0;
}

.sentence {
  ul {
    list-style: none;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-theme {
  background-color: #fff7e6
}

.resize-image {
  width: 100%;
  height: auto;
}

// スマートフォンサイズ（425px）以下の際に適用される設定
@media screen and (max-width:425px) {
  .admin-user_email {
    display: none;
  }
  .admin-shop-created_at {
    display: none;
  }

  .resize-bread-image {
    width: 50%;
    height: 50%;
  }
  #small-nav {
    zoom: 0.6;
  }
}

// スマートフォンサイズ（425px）以上の際に適用される設定
@media screen and (min-width:425px) {
  .header-nav {
    width: 30%;
  }
}