// @import '~bootstrap/scss/bootstrap';
@use '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "select2/dist/css/select2.min.css";
@import "./user/homes";

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

/*ページネーション自体*/
.pagination > li > a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号 */
.pagination>.active>a {
  background: none;
}

/*ホバー時*/
.pagination>li>a:hover {
  opacity: 1;
  color: #696969;
}

.page-item.active .page-link {
  background-color: #ffeecc;
  color: #696969;
  border: 1px solid #fff;
}

// nav.pagination .tab1,
// nav.pagination .tab2,
// nav.pagination .tab3,
// nav.pagination .tab4 {
//   display: none;
// }

// nav.pagination {
//   display: none;
// }

.scroll-list {
  padding: 0;
}

.bread_list {
  ul {
    list-style: none;
  }
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
  }
}