<div class="container mt-4">
  <div class="col-md-6 mx-auto">

    <div class="row mx-auto">
      <p style="font-size: 30px;">京都でパンを探そう。</p>
    </div>

    <div class="col-md-12" style="font-size: 13px;">
      <p>
        KyotoBread は、京都で食べた美味しいパンを共有・記録するサイトです。<br>
        京都ならではの素材を使ったパンや地元で愛されているパン屋さんのパンなど、<br>
        ひとつひとつの出会いをより良いものにするためにこのサイトは生まれました。<br>
        パン屋さんの発見・下見・共有など、様々なニーズに密着した地域型のパンサイトKyotoBreadを、<br>
        ぜひご利用ください。
      </p>
    </div>

  </div>
</div>