<div class="main-theme container py-5">
  <div class="col-md-8 mx-auto">

    <div class="row">
      <p class="display-4">京都でパンを探そう。</p>
    </div>

    <div class="col-md-12 mt-3" style="font-size: 13px;">
      <p>KyotoBread は、京都で食べた美味しいパンを共有・記録するサイトです。</p>
      <p>京都ならではの素材を使ったパンや地元で愛されているパン屋さんのパンなど、</p>
      <p><mark>ひとつひとつの出会いをより良いもの</mark>にするためにこのサイトは生まれました。</p>
      <p class="mt-4">パン屋さんの発見・下見・共有など、様々なニーズに密着した地域型のパンサイトKyotoBreadを、</p>
      <p>ぜひご利用ください。</p>
    </div>

    <%= image_tag('about_image640.jpg') %>

  </div>
</div>