<div class="main-theme container py-5">
  <div class="col-md-8 mx-auto">

    <div class="row">
      <p class="mx-auto" style="font-size: 28px;">京都でパンを探そう。</p>

      <div class="col-md-12 mt-3" style="font-size: 13px;">
        <p>KyotoBreadは、京都で食べた美味しいパンを共有・記録するサイトです。</p>
        <p>京都ならではの素材を使ったパンや地元で愛されているパン屋さんのパンなど、ひとつひとつの出会いをより良いものにするためにこのサイトは生まれました。</p>
        <p>パン屋さんの発見・下見・共有など、様々なニーズに密着した地域型のパンサイトKyotoBreadを、ぜひご利用ください。</p>
      </div>
    </div>

    <%= image_tag('about_image640.jpg', class: "resize-image about-image") %>

  </div>
</div>

<script>
$(function(){
  $(window).scroll(function(){
    var scrollPosition = $(this).scrollTop();
    $('.about-image').each(function(){
      var offset = $(this).offset().top;

      // スクロール位置が画像の位置より上にある場合、ふわっと表示させる
      if (scrollPosition > offset - $(window).height() + 200) {
        $(this).addClass('fade-in');
      }
    });
  });
});
</script>
