<div class="container mt-4">
  <div class="mx-auto">
    <div class="row text-center">

      <h5>About KyotoBread</h5>
    </div>
    <div class="row">
      <p>
        loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum<br>
        loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum<br>
        loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum<br>
        loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum<br>
        loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum<br>
        loremipsum loremipsum loremipsum loremipsum.
      </p>
    </div>

    </div>
  </div>
</div>