<div class="container py-5" style="background-color: #fff7e6">
  <div class="col-md-8 mx-auto">

    <h4 class="mb-3"><%= @topic.title %></h4>
    <p><%= @topic.body %></p>
    <%= image_tag @topic.get_bread_image(400, 300), class:"mt-4 mx-auto d-block" %>
    <p><%= link_to "特集一覧ページ", topics_path, class:"mt-5 btn btn-sm btn-outline-secondary" %></p>


  </div>
</div>