<div class="container mt-5 mx-auto">
  <div class="col-md-12">

    <h5>ユーザー一覧</h5>

    <table class="table mt-4">
      <tr>
        <td>ID</td>
        <td>ニックネーム</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>

        <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_delete == false %>
           有効
          <% else %>
           退会
          <% end %>
        </td>
      </tr>
        <% end %>
    </table>



  </div>
</div>