<% if obj.errors.any? %>
  <div id="error_explanation">
    <em><%= pluralize(obj.errors.count, "error") %> :</em>
    <ul class="mb-3">
    <% obj.errors.full_messages.each do |message| %>
      <li style="font-size: 12px;"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
