<!--homes/top, user/breads/index&earch のサイドバー-->
<div class="col-md-3">

<!--<div class="position-fixed" style="width: 270px; height: 70%; overflow-y: scroll;">-->
  <!--<div style="width: 270px;">-->




  <!--</div>-->
</div>